# Code Owners
# https://help.github.com/articles/about-codeowners/

# Default owners for all files
* @carla-maintainers

# Core Python API
/PythonAPI/carla/ @carla-python-team

# Navigation agents
/PythonAPI/carla/agents/ @carla-agents-team

# C++ core
/LibCarla/ @carla-cpp-team

# Documentation
/Docs/ @carla-docs-team

# Tests
/PythonAPI/test/ @carla-test-team
