.vs/
.vscode/

.cache/

Build/
out/

Dist/
Doxygen/
Deprecated/PythonClient/dist/
TrafficManager/build/
Util/Build/
Dependencies/
Install/
Plugins/

!Unreal/CarlaUnreal/Plugins
Unreal/CarlaUnreal/Plugins/Streetmap
Unreal/CarlaUnreal/Plugins/HoudiniEngine

/ExportedMaps
/Import/*
!/Import/README.md

*.VC.db
*.VC.opendb

*.o
*.a
*.so
*.lib

*.pyd
*.whl
*.egg

*.egg-info
*.kdev4
*.log
*.pb.cc
*.pb.h
*.pid
*.pri
*.pro
*.py[cod]
*.sln
*.stackdump
*.sublime-workspace
*.workspace

*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
.aria2c.input
.codelite
.gdb_history
.gtest
.idea
.tags*
__pycache__/
_benchmarks_results/
_images*
_out*
_site
core
profiler.csv
ArgsSync.json
