Dist
Doxygen
Util/Build

*.VC.db
*.VC.opendb
*.kdev4
*.log
*.pb.cc
*.pb.h
*.pid
*.pri
*.pro
*.py[cod]
*.sln
*.stackdump
*.sublime-workspace
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
*_pb2.py
.codelite
.tags*
.vs
__pycache__
core
