[MASTER]
jobs=0

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    W0511,  # fixme

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,v,wp,bb
