site_name: CARLA Simulator
repo_url: https://github.com/ng-fukgin/carla
docs_dir: Docs
edit_uri: 'edit/master/Docs/'
theme: readthedocs
extra_css: [extra.css]
extra_javascript: [extra.js]

nav:
- Home: 'index.md'
- Getting started:
  - 'Introduction': '/en/start_introduction.md'
  - 'Quick start package installation': '/en/start_quickstart.md'
- Building CARLA:
  - 'Linux build': '/en/build_linux.md'
  - 'Windows build': '/en/build_windows.md'
  - 'Update CARLA': '/en/build_update.md'
  - 'Build system': '/en/build_system.md'
  - 'CARLA in Docker': '/en/build_docker.md'
  - 'F.A.Q.': '/en/build_faq.md'
- First steps:
  - 'Core concepts': '/en/core_concepts.md'
  - '1st- World and client': '/en/core_world.md'
  - '2nd- Actors and blueprints': '/en/core_actors.md'
  - '3rd- Maps and navigation': '/en/core_map.md'
  - '4th- Sensors and data': '/en/core_sensors.md'
- Advanced concepts:
  - 'OpenDRIVE standalone mode': '/en/adv_opendrive.md'
  - 'PTV-Vissim co-simulation': '/en/adv_ptv.md'
  - 'Recorder': '/en/adv_recorder.md'
  - 'Rendering options': '/en/adv_rendering_options.md'
  - 'RSS': '/en/adv_rss.md'
  - 'Synchrony and time-step': '/en/adv_synchrony_timestep.md'
  - 'Benchmarking Performance': '/en/adv_benchmarking.md'
  - 'CARLA Agents': '/en/adv_agents.md'
- Traffic Simulation:
  - 'Traffic Simulation Overview': '/en/ts_traffic_simulation_overview.md'
  - 'Traffic Manager': '/en/adv_traffic_manager.md'
  - 'SUMO co-simulation': '/en/adv_sumo.md'
  - 'Scenic': '/en/tuto_G_scenic.md'
- References:
  - 'Python API reference': '/en/python_api.md'
  - 'Blueprint Library': '/en/bp_library.md'
  - 'C++ reference' : 'ref_cpp.md'
  - 'Recorder binary file format': '/en/ref_recorder_binary_file_format.md'
  - "Sensors reference": 'ref_sensors.md'  
- Plugins:
  - 'carlaviz — web visualizer': '/en/plugins_carlaviz.md'
- ROS bridge:
  - 'ROS bridge documentation': '/en/ros_documentation.md'
- Custom Maps:
  - 'Overview of custom maps in CARLA': '/en/tuto_M_custom_map_overview.md'
  - 'Create a map in RoadRunner': '/en/tuto_M_generate_map.md'
  - 'Import map in CARLA package': '/en/tuto_M_add_map_package.md'
  - 'Import map in CARLA source build': '/en/tuto_M_add_map_source.md'
  - 'Alternative ways to import maps': '/en/tuto_M_add_map_alternative.md'
  - 'Manually prepare map package': '/en/tuto_M_manual_map_package.md'
  - 'Customizing maps: Layered maps': '/en/tuto_M_custom_layers.md'
  - 'Customizing maps: Traffic lights and signs': '/en/tuto_M_custom_add_tl.md'
  - 'Customizing maps: Road painter': '/en/tuto_M_custom_road_painter.md'
  - 'Customizing maps: Procedural Buildings': '/en/tuto_M_custom_buildings.md'
  - 'Customizing maps: Weather and landscape': '/en/tuto_M_custom_weather_landscape.md'
  - 'Generate pedestrian navigation': '/en/tuto_M_generate_pedestrian_navigation.md'
- Large Maps:
  - 'Large maps overview': '/en/large_map_overview.md'
  - 'Create a large map in RoadRunner': '/en/large_map_roadrunner.md'
  - 'Import/Package a large map': '/en/large_map_import.md'
- Tutorials (general):
  - 'Add friction triggers': “/en/tuto_G_add_friction_triggers.md"
  - 'Control vehicle physics': “/en/tuto_G_control_vehicle_physics.md"
  - 'Control walker skeletons': “/en/tuto_G_control_walker_skeletons.md"
  - 'Generate maps with OpenStreetMap': '/en/tuto_G_openstreetmap.md'
  - 'Retrieve simulation data': “/en/tuto_G_retrieve_data.md"
  - 'CarSim Integration': “/en/tuto_G_carsim_integration.md"
  - 'RLlib Integration': “/en/tuto_G_rllib_integration.md"
  - 'Chrono Integration': '/en/tuto_G_chrono.md'
  - 'Build Unreal and CARLA in Docker': '/en/build_docker_unreal.md'
- Tutorials (assets):
  - 'Add a new vehicle': '/en/tuto_A_add_vehicle.md'
  - 'Add new props': '/en/tuto_A_add_props.md'
  - 'Create standalone packages': '/en/tuto_A_create_standalone.md'
  - "Material customization": 'tuto_A_material_customization.md'
- Tutorials (developers):
  - 'How to upgrade content': '/en/tuto_D_contribute_assets.md'
  - 'Create a sensor': '/en/tuto_D_create_sensor.md'
  - 'Create semantic tags': '/en/tuto_D_create_semantic_tags.md'
  - 'Customize vehicle suspension': '/en/tuto_D_customize_vehicle_suspension.md'
  - 'Generate detailed colliders': '/en/tuto_D_generate_colliders.md'
  - 'Make a release': '/en/tuto_D_make_release.md'
- CARLA Ecosystem:
  - 'Ansys Real Time Radar Model': '/en/ecosys_ansys.md'
- Contributing:
  - 'Contribution guidelines': '/en/cont_contribution_guidelines.md'
  - 'Code of conduct': '/en/cont_code_of_conduct.md'
  - 'Coding standard': '/en/cont_coding_standard.md'
  - 'Documentation standard': '/en/cont_doc_standard.md'

markdown_extensions:
  - admonition
