[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==4.5.0"
psutil = "*"
fastapi = "*"
importlib-metadata = "<3"
xmltodict = "*"
numpy = "*"
pyproj = "*"
pillow = "*"
joblib = "*"
nuitka = "*"
numba = "*"
ray = "<1.5.0"
aioredis = "<=1.3.0"

[requires]
python_version = "3.6"

[dev-packages]
