numpy>=1.24.4
Pillow
pygame; python_version < '3.14'
pygame-ce; python_version >= '3.14'
open3d; python_version <= '3.12'
matplotlib; python_version <= '3.12'
invertedai @ git+https://github.com/inverted-ai/invertedai.git@develop ; python_version >= '3.10' and python_version < '3.13'
