[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.18.4"
psutil = "*"
py-cpuinfo = "*"
pygame = "*"
python-tr = "*"

[requires]
python_version = "3.7"

[dev-packages]
