src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

/run

/out

examples/**/results
examples/**/.tkenvrc
examples/**/.qtenvrc
examples/**/.cmdenv-log
examples/**/valgrind.out

subprojects/veins_catch/out
subprojects/veins_catch/run
subprojects/veins_catch/src/*.dll
subprojects/veins_catch/src/*.dylib
subprojects/veins_catch/src/*.so
subprojects/veins_catch/src/Makefile
subprojects/veins_catch/src/veins_catch
subprojects/veins_catch/src/veins_catch_dbg

subprojects/veins_inet3/src/Makefile
subprojects/veins_inet3/src/*.so
subprojects/veins_inet3/src/*.dll
subprojects/veins_inet3/src/*.dylib
subprojects/veins_inet3/src/**/*_m.h
subprojects/veins_inet3/src/**/*_m.cc
subprojects/veins_inet3/out
subprojects/veins_inet3/run
subprojects/veins_inet3/examples/**/results
subprojects/veins_inet3/examples/**/.tkenvrc
subprojects/veins_inet3/examples/**/.qtenvrc
subprojects/veins_inet3/examples/**/.cmdenv-log
subprojects/veins_inet3/examples/**/valgrind.out

subprojects/veins_inet/src/Makefile
subprojects/veins_inet/src/*.so
subprojects/veins_inet/src/*.dll
subprojects/veins_inet/src/*.dylib
subprojects/veins_inet/src/**/*_m.h
subprojects/veins_inet/src/**/*_m.cc
subprojects/veins_inet/out
subprojects/veins_inet/run
subprojects/veins_inet/examples/**/results
subprojects/veins_inet/examples/**/.tkenvrc
subprojects/veins_inet/examples/**/.qtenvrc
subprojects/veins_inet/examples/**/.cmdenv-log
subprojects/veins_inet/examples/**/valgrind.out

subprojects/veins_testsims/src/Makefile
subprojects/veins_testsims/src/*.so
subprojects/veins_testsims/src/*.dll
subprojects/veins_testsims/src/*.dylib
subprojects/veins_testsims/src/**/*_m.h
subprojects/veins_testsims/src/**/*_m.cc
subprojects/veins_testsims/out
subprojects/veins_testsims/run
subprojects/veins_testsims/sim/**/results
subprojects/veins_testsims/sim/**/veins-runall-output
subprojects/veins_testsims/sim/**/.tkenvrc
subprojects/veins_testsims/sim/**/.qtenvrc
subprojects/veins_testsims/sim/**/.cmdenv-log
subprojects/veins_testsims/sim/**/valgrind.out
subprojects/veins_testsims/opp_tests/**/work
