.build-buttons{
    text-align: center;
}

.build-buttons > p {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.vector-zero {
    text-align: center;
}


table.defTable {
  border: 1px solid #242424;
  background-color: #f3f6f6;
  text-align: left;
  border-collapse: collapse;
}

table.defTable thead {
  background: #ffffff; 
  border-bottom: 1px solid #444444;
}

table.defTable tr:nth-child(even) {
  background: #ffffff;
}

table.defTable thead th {
  padding: 7px 13px;
}

table.defTable tbody td{
  padding: 7px 13px;
}
