Binaries
Build
Debug
DerivedDataCache
Intermediate
Saved
Plugins/Carla/Binaries
Plugins/Carla/Build
Plugins/Carla/CarlaServer
Plugins/Carla/CarlaDependencies
Plugins/Carla/Debug
Plugins/Carla/DerivedDataCache
Plugins/Carla/Intermediate
Plugins/Carla/Saved

/Content
Config/CarlaSettings.ini
Config/DefaultEditor.ini

*.code-workspace
.idea
.vscode
CMakeLists.txt
Makefile
